

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.header-main {
  background-color: #3F51B5;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
}

.left-content {
  color: white;
  display: flex;
  align-items: center;
}

.left-content p {
  margin-left: 20px;
  font-size: 18px;
  font-weight: 500;
}
.input-block label {
  width: 180px;
}
.input-block {
  display: flex;
  margin-top: 10px;
}
.form-main {
  display: flex;
  justify-content: center;
}
.input-block input {
  padding: 10px;
  width: 185px;
}
.form-main p {
  text-align: center;
}
.input-block-submit {
  text-align: center;
  margin-top: 20px;
}
.form-box-shadow {
  padding: 20px;
  box-shadow: -2px 2px 14px cyan;
  margin: 33px;
  border-radius: 5px;
}
.form-heading {
  margin-bottom: 31px;
}
.form-heading p {
  margin: 0;
  font-size: 30px;
}
.input-block-submit input {
  background: #8993B7;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 5px 11px;
  font-weight: 600;
  cursor: pointer;
}
.go-to-menu-main p {
  font-size: 44px;
  width: 90%;
  padding: 0;
  color: #454545;
  margin: 0 20px;
}
.go-to-menu-main button {
  background-color: #3F51B5;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 5px 11px;
  font-weight: 600;
  margin-top: 25px;
}
.menu-container {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 60px;
}
button{
  cursor: pointer;
}
.product-card img {
  width: 100%;
}
.product-card {
  width: 216px;
  box-shadow: 0px 3px 2px #cbcbcb;
  border-radius: 3px;
}
.product-card img {
  width: 100%;
  height: 126px;
  border-radius: 5px 5px 0px 0px;
}

.center-cards-main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.items-main {
  margin-top: 50px;
  margin-bottom: 50px;
}

.card-buttons .plus {
  padding: 3px 20px;
  background-color: #3F51B5;
  color: white;
  border: none;
  margin-right: 35px;
  
  font-size: 15px;
  border-radius: 3px;
}
.card-buttons .minus {
  padding: 3px 20px;
 background-color:#F50057;
  color: white;
  font-weight: bold;
  border: none;
  font-size: 15px;
  border-radius: 3px;
  margin-left: 3px;
}
.product-card > div {
  margin-left: 6px;
}
.product-card p {
  margin: 0;
  margin-left: 6px;
}
.card-buttons {
  margin-bottom: 5px;
  margin-top: 6px;
}
.product-card {
  width: 216px;
  box-shadow: 0px 1px 2px #cbcbcb;
  border-radius: 4px;
}

.checkout-main div {
  box-shadow: -1px 4px 6px cyan;
  width: 70%;
}

.checkout-main {
  justify-content: center;
  display: flex;
  margin-top: 130px;
}


.checkout-main div .checkout-center {
  text-align: center;
  margin-top: 12px;
  margin-bottom:0;
}
p.checkout-center {
  font-size: 29px;
  font-weight: 400;
}
p.thank-you {
  margin-left: 16px;
  font-size: 20px;
  font-weight: 400;
  margin-top: 6px;
  margin-bottom: 13px;
}

.left-content img {
  width: 30px;
  margin-left: 20px;
}
.align-right {
  text-align: right;
  margin-top: 20px;
}

.cartItems {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 30px #00000040;
  left: 50%;
  padding: 0px 6px 0px 18px;
  position: fixed;
  top: 36%;
  transform: translate(-50%,-50%);
  width: 37%;
}
.backDrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0000004d;
}
.right-content {
  margin-right: 50px;
  cursor: pointer;
}



.header-main {
  position: relative;
}

span.item-counts {
  position: absolute;
  right: 36px;
  top: 17px;
  color: wheat;
  background: #808080;
  width: 18px;
  text-align: center;
  height: 18px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  font-size: 12px;
  font-weight: 700;
}
.item-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cartItems ul li {
  list-style: none;
}

button.minus.color-danger {
  background: #F50057;
  color: white;
  font-weight: 600;
}
.item-flex p {
  margin: 0;
  padding: 0;
}
.total-price-cart p {
  margin: 0;
  padding: 0;
}

.items-center {
  display: flex;
  gap: 31px;
  width: 710px;
  flex-wrap: wrap;
}

.card-buttons.margi-bottom {

  margin-top: 28px;
}
.checkout-block {
  text-align: right;
  margin-top: 35px;
}
span.cartIcon {
  font-size: 30px;
  margin-left: 20px;
}
button.minus:disabled {
  background-color: #E0E0E0;
  color: #a37c7c;
}
.right-content button {
  position: absolute;
  right: 161px;
  top: 23px;
  background-color: white;
  border: none;
  border-radius: 3px;
  font-weight: 600;
}
.checkout-block button {
  background-color: #3F51B5;
  border: none;
  color: white;
  padding: 8px 18px;
  margin-right: 5px;
  border-radius: 4px;
}
.checkout-block a {
  color: #3f51b5;
  font-size: 14px;
  font-weight: 500;
  margin-left: 7px;
  text-decoration: none;
}
.product-card img {
  width: 100%;
  height: 126px;
}
.right-content button {
  position: absolute;
  right: 98px;
  top: 10px;
  border: none;
  border-radius: 50%;
  font-weight: 600;
  font-size: 40px;
  background: none;
  color: white;
}
.cartItems ul {
  padding: 0;
}
button.plus.checkout {
  margin-right: 0;
}
button.plus.food-items {
  margin-right: 7px;
}
.card-buttons.margi-bottom.food-items button {
  padding: 0px 20px;
  font-size: 22px;
}
.card-buttons.checkout button {
  padding: 0px 20px;
  font-size: 22px;
}
p.pr-name {
  margin-bottom: 12px;
}










@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  
  .items-center {
    display: block;
    width: auto;
}
.product-card {
  margin-bottom: 35px;
  width: 280px;
}
.cartItems {
  width: 85%;
}
.checkout-main div {
  width: 90%;
}

.product-card img {
  height: 169px;
}

.input-block label {
  display: block;
  width: 100%;
}
.input-block {
  display: block;
 
}
  
}

